body {
    font-family: Roboto-Bold,OpenSans-Semibold,AdobeInvisFont,MyriadHebrew-Regular;
color: #424F57;
}
a {
    text-decoration: none;
    color: #424F57;

}
.container {
    margin: 0 auto;

}
header {
    background: url("img/1.jpg") no-repeat;
    width: 100%;
    padding: 100px 30px ;
    background-position: center;
}
.logo {
    font-size: 36px;
    color: #424F57;
}
.logo-name {
    text-transform: uppercase;
    color: #14AFCA;
    font-weight: 700;
}
.menu-item {
    display: inline-block;
    margin-right: 30px ;
    color: #424F57;

}
.nav-bar {
    margin-top: 20px;
    display: flex;
justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #f2f2f2;
    height: 111px;
}
.what-content {
    width: 60%;
    margin: 0 auto;
}
.what-container {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 100%;
    width: 100%;
    z-index: 0;
    padding: 50px 0;

}
.what-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #f2f2f2;
    transform: skew(0deg, 6deg);
    z-index: -1;
}
.what-container:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #f2f2f2;
    transform: skew(0deg, -6deg);
    z-index: -1;
}

.blu-style{
    font-family: open-sans, sans-serif, courier-std, monospace;
    font-size: 60px;
    z-index: 1;
    color: #14AFCA;
    padding: 15px 0;

}
.text-under-title {
    padding: 25px;
    font-weight: 600;
}
section {
    z-index: 0;
}